<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Design Template</title>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' type='text/javascript'></script>
  <script src='/app.js' type='text/javascript'></script>
  <link rel="stylesheet" type="text/css" href="http://tera-cdn1.enmasse-game.com/assets/application.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="pattern-wrapper">
    <ul id="nav">
      <% Dir.foreach(Dir.pwd + '/patterns/') do |fname| %>
      <% next if fname == '.' or fname == '..' or fname == '.DS_Store' %>
          <li><a href="#" data-name="<%= fname.gsub(/\.html/, '') %>"><%= fname.gsub(/\.html/, '').gsub(/\-/, ' ') %></a></li>
      <% end %>
    </ul>

    <div id="viewer">
      <% Dir.foreach(Dir.pwd + '/patterns/') do |fname| %>
        <% next if fname == '.' or fname == '..' or fname == '.DS_Store' %>
        <div class="pattern-right" id="pattern-<%= fname.gsub(/\.html/, '') %>">
          <%= File.read(File.join('patterns/', fname)) %>
        </div>
      <% end %>
    </div>

  </div>
</body>
</html>
